.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  border-radius: 4px;

  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;
  outline: none;

  /* make sure colors have enough contrast! */
  color: #ffffff;
  background-color: #9555af;
  cursor: pointer;
  animation: all 0.6s;
  &:hover {
    color: #9555af;
    border-color: currentColor;
    background-color: white;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
  }
  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
}
