.navbar-brand {
  img {
    width: 50px;
    object-fit: cover;
  }

  span {
    display: inline-block;
    white-space: initial;
    max-width: 170px;
    font-size: 1rem;
    line-height: 0.9em;
    font-weight: bold;

    @include mq("tablet") {
      max-width: 250px;
    }
  }
}
